@font-face { 
    font-family: 'Oswald'; 
    src: url('../fonts/Oswald/Oswald-Regular.ttf');    
}
@font-face {
    font-family: 'Open Sans'; 
    src: url('../fonts/Open_Sans/OpenSans-Light.ttf');
}

body {
    margin:0;
    background:#003366;
}

#web-header {
    min-height:400px;
    background-image: url(../images/img-header.png);
    background-repeat: false;
    background-position: center;
}

#web-header img {
    padding-top: 12%;
}

#menu-header p {
    text-align: center;
    color: white;
    font-family: 'Open Sans';
    font-size: 150%;
    padding-top: 0;
}

#menu-header img {
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

#menu-header img:hover {
    opacity: 0.4;
}